{% extends '::base.html.twig' %}

{% block body %}
    
    {{ include('SaSiteBundle:Default:accueil.html.twig') }}
    
    <div align="center"><img src={{ asset("symfony2.png")}} alt="image_symfony2"></div>
    
{% endblock %}

